.MainMenu__ToggleIcon {
  background-color: #343539;
  position: absolute;
  right: 0;
  top: 0;
  width: 5% !important;
  height: 40px !important;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .MainMenu__ToggleIcon {
    width: 10% !important;
  }
}
